* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%!important;
  height: 100vh;
}
a,
li,
ul {
  list-style: none!important;
  text-decoration: none!important;
}


.Dark {
  background-color: white !important;
  color: #121212 !important;
  list-style: none!important;
  text-decoration: none !important;

 
}
.Light {
  background-color: #121212 !important ;
  color: white!important; 
  list-style: none!important;
  text-decoration: none!important;
 
}
